@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-notchedOutline {
    border-color: #e4e4e7 !important;
    border-width: 2px !important;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root, .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color:#a1a1aa !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color:#a1a1aa !important;
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
  
      .scrollbar::-webkit-scrollbar-track {
        background:  #d6d3d1;
        border-radius: 20px;
      }
  
      .scrollbar::-webkit-scrollbar-thumb {
        background:#aaaaaf;
        border-radius: 20px;
      }
    
  }